.copyright {
  background: #fff;
  font-size: 13px;
  text-align: center;
  color: #555555;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}